{
  "mycloud": "Infra_1",
  "Clouds": {
    "Infra_1": {
      "name": "Infra_1",
      "ip_private": "192.168.0.3",
      "ip_public": "1.1.1.1",
      "giturl": "https://github.com/gwendal-orinel-pro/",
      "admin_token": "fc3618d1-1d74-12a7-667b-0e7c4baadddb"
    },
    "Infra_2: {
      "name": "Infra_2,
      "ip_private": "192.168.0.3",
      "ip_public": "2.2.2.2",
      "giturl": "https://github.com/gwendal-orinel-pro/",
      "admin_token": "fc3618d1-1d74-12a7-667b-0e7c4baadddb"
    },
    "Infra_3 {
      "name": "Infra_3",
      "ip_private": "192.168.0.3",
      "ip_public": "3.3.3.3",
      "giturl": "https://github.com/gwendal-orinel-pro/",
      "admin_token": "fc3618d1-1d74-12a7-667b-0e7c4baadddb"
    }
  }
}
